body{
	margin: 0;
	height: 100%;
	background-color: #9af;
}
html,
body {
	min-height: 100%;
}


/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}



/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
.ba-header h1 {
	text-align: center;
}
.ba-main {
	padding: 20px 0;
}
.ba-board-container {
	width: 50%;
	margin: 0 auto;
	box-shadow: 0 0 2px #222;
	padding: 1%;
	background-color: #531;
}
.ba-board {
	position: relative;
	max-width: 100%;
	padding-top: 100%;
}
.row {
	position: absolute;
	width: 100%;
	height: 12.5%;
}
.row-1 {
	top: 0;
}
.row-2 {
	top: 12.5%;
}
.row-3 {
	top: 25%;
}
.row-4 {
	top: 37.5%;
}
.row-5 {
	top: 50%;
}
.row-6 {
	top: 62.5%;
}
.row-7 {
	top: 75%;
}
.row-8 {
	top: 87.5%;
}
.col {
	position: absolute;
	width: 12.5%;
	height: 100%;
	padding: 1%;
}
.col:hover {
	border: 1px solid transparent;
}
.col-1 {
	left: 0;
}

.col-2 {
	left: 12.5%;
}
.col-3 {
	left: 25%;
}
.col-4 {
	left: 37.5%;
}
.col-5 {
	left: 50%;
}
.col-6 {
	left: 62.5%;
}
.col-7 {
	left: 75%;
}
.col-8 {
	left: 87.5%;
}
.ba-board .row:nth-child(odd) .col:nth-child(odd) {
	background-color: #558822;
}
.ba-board .row:nth-child(odd) .col:nth-child(even) {
	background-color: #FFEEBB;
}
.ba-board .row:nth-child(even) .col:nth-child(even) {
	background-color: #558822;
}
.ba-board .row:nth-child(even) .col:nth-child(odd) {
	background-color: #FFEEBB;
}
.ba-white-checker {
	border: 1px solid #999;
	border-radius: 50%;
	height: 100%;
	background-color: #ddd;
}
.ba-dark-checker {
	border: 1px solid #555;
	border-radius: 50%;
	height: 100%;
	background-color: #333;
}
